.faq-count a:before { content:"\f223" !important; }
#ac-faq .rsssummary { display: block; }
.acf-widget-bottom { border-top: 1px solid #ddd; padding-top: 10px; text-align: center; }
.acf-widget-bottom ul li { display: inline; list-style: none; padding-right: 20px; }
.acf-widget-bottom img { padding-right: 3px; vertical-align: top; }
.af-docs,.af-help,.af-dev,.af-source { display: inline-block; background: transparent center left no-repeat; padding-left: 21px; }
.af-docs { background-image: url(../../images/page-16x16.png); }
.af-help { background-image: url(../../images/help-16x16.png); }
.af-dev { background-image: url(../../images/trello-16x16.png); }
.af-source { background-image: url(../../images/github-16x16.png); }
#faq-setting .cmb_metabox_description { margin-left: 6px; }