/*
ARCONIX FAQ CSS
--------------------------

PLEASE DO NOT make modifications to this file directly as it will be overwritten on update.
Instead, save a copy of this file to your theme or child theme directory. It will then be
loaded in place of the plugin's version and will maintain your changes on upgrade

IMPORTANT NOTE: Since the directory structure will be changing, and image URLS are always loaded
relative to their current path, the links to the toggle images in this file will also need to change.
For example:

    'url(../../images ...'

would have to be changed to

    'url(../../../plugins/arconix-faq/images ...'

in order to for the images to be displayed.
*/

/* FAQ Group Title
------------------------------------------------------------ */
 h3.arconix-faq-term-title { margin: 20px 0 10px }

/* FAQ Group Description
------------------------------------------------------------ */
p.arconix-faq-term-description { font-style: italic; }

/* FAQ Wrapper
------------------------------------------------------------ */
.arconix-faq-wrap {
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background:	none repeat scroll 0 0 #fbfbfb;
    clear: both;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 5px 10px;
}

/* FAQ Title
------------------------------------------------------------ */
.arconix-faq-title {
    background: url(../../images/toggle-open.png) no-repeat left transparent;
    cursor: pointer;
    font-size: 16px;
    padding: 0 0 0 30px;
    position: relative;
}

.arconix-faq-title.faq-open { background: url(../../images/toggle-close.png) no-repeat left transparent; }

/* FAQ Content
------------------------------------------------------------ */
.arconix-faq-content {
    margin-left: 10px;
    padding: 5px 20px;
}

.arconix-faq-content p {
    padding: 0 !important;
}

.arconix-faq-content p:last-child {
    margin: 0 !important;
}

/* Return to Top link
------------------------------------------------------------ */
.arconix-faq-to-top {}


/* Accordion Title
------------------------------------------------------------ */
.arconix-faq-accordion-title.ui-state-default {
    /*  This replaces the default background for the "smoothness" jQuery UI theme
        If you're going to load a different theme, you may want to remove this line
    */
    background: #fbfbfb;
}

/* Accordion Content
------------------------------------------------------------ */
.arconix-faq-accordion-content {
    padding: 5px 15px 5px 10px;
}

.arconix-faq-accordion-content p {
    padding: 0 !important;
}

.arconix-faq-accordion-content p:last-child {
    margin: 0 !important;
}